<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>About</title>

      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
   <br>
   
		Body Mass Index (BMI) quantifies the combined weight of the muscle, fat, and bone mass in an individual. BMI is a screening tool that can let you know if you may be at risk for weight-related health problems. 
		<br>
		<br>
		
		For adults, BMI is categorized into underweight, healthy weight, overweight, and obesity based on their respective BMI value. The simplicity of the body mass index calculation is one of its advantages. This BMI calculator is for adults 20 and older and it measures BMI as: kg per square meter (kg/m2). 
		<br>
		<br>
		
		For children & teens from two years of age to nineteen years, please utilize this <a href="https://www.cdc.gov/bmi/child-teen-calculator/index.html" target="_blank">BMI Calculator for Children and Teens.</a>
		The importance and usefulness of the index and hence any Body Mass Index calculator is in its curvilinear relationship to all-cause mortality. The bigger your calculated BMI is, the higher the risk of mortality compared to those with a healthy BMI.
		<br>
		<br>

		<h2>Risks associated with being underweight</h2>
		<ul>
		<li>Malnutrition, vitamin deficiencies, & anemia.</li>
		<li>Osteoporosis.</li>
		<li>A decrease in immune function.</li>
		<li>Growth and development issues.</li>
		<li>Possible reproductive issues for women.</li>
		</ul>

		<h2>Risks associated with being overweight</h2>
		<ul>
		<li>High blood pressure.</li>
		<li>Higher levels of LDL cholesterol "bad cholesterol".</li>
		<li>Lower levels of HDL cholesterol "good cholesterol".</li>
		<li>Type II diabetes.</li>
		<li>Coronary heart disease.</li>
		<li>Stroke.</li>
		<li>Gallbladder disease.</li>
		<li>Osteoarthritis.</li>
		<li>Sleep apnea and breathing problems.</li>
		<li>Certain cancers (endometrial, breast, colon, kidney, gallbladder, liver).</li>
		<li>Low quality of life.</li>
		<li>Mental illnesses such as clinical depression, anxiety, and others.</li>
		<li>Body pains and difficulty with certain physical functions.</li>
		</ul>

		<h2>Considerations and Limitations of BMI</h2>
		<ul>
		<li>Doesn't distinguish between muscle and fat.</li>
		<li>May not be accurate for athletes, elderly, or individuals with extreme body types.</li>
		<li>Doesn't account for body composition or distribution of fat.</li>
		<li>Not suitable for children or adolescents (different BMI calculations apply).</li>
		<li>Should be used as a screening tool, not a diagnostic tool.</li>
		</ul>

    <br>
    <hr>


    <footer class="footer">
            <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
                    
			
			
