<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>About</title>

      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
   <br>
   		
	Planning your diet & exercise routine at your fingertips!
	
		<h4>Google Calendar brings all of your calendars together in one place.</h4>
		<ul>
		<li><a href="https://calendar.google.com/" target="_blank">Google Calendar</a></li>
		</ul>
		
    <br>
    <hr>


    <footer class="footer">
            <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
                    
		
