<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>About</title>

      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
   <br>
    
		Do you know you can lose weight even while enjoying all your favourite meals and treats. 

		<h4>Here's our low-calorie twists on basicially all popular African meals and treats!</h4>
		<ul>
		<li>Meal 1</li>
		<li>Meal 2</li>
		<li>Meal 3</li>
		</ul>

		
    <br>
    <hr>


    <footer class="footer">
            <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
                    
			
			
