<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>About</title>

      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
	<h4>Question 1: What is a balance diet?</h4>
	<p> This is a meal that includes all the six classes of food:  fruits, vegetables, protein, starch, dairy, and fats.</p>
 
	<h4>Question 2: Why should I eat every at intervals even if not hungry? Won’t doing so make me gain more weight?</h4>
	<p> If you wait until you start feeling hungry, you will probaly eat more than you should. 
	Eating wholesome, balanced meals and snacks at intervals will help keep your metabolism high, blood sugar levels stable, and energy levels high. 
	
	<h4>Question 3:  Is it safe dietwise to skip meals if I have a heavy breakfast in the morning?</h4>
	<p> If you going to have a very busy and energy start in the morning then it is no problem but if not, you should probably eat breafast like a pauper and not a king.
   
	<br>
    <hr>


    <footer class="footer">
            <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
                    
			
			
