<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>BMI Calculator</title>
   	
      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
    <div class="container">
    
        <!-- Upper Section -->
        <div class="upper-section">
            <h1>BMI Calculator</h1>
            <div class="form-section">
                <form action="/bmi" method="POST">
                    <input type="number" name="height" placeholder="Height (cm)" required>
                    <input type="number" name="weight" placeholder="Weight (kg)" required>
                    <button type="submit">Calculate</button>
                </form>
            </div>

            {% if bmi %}
             
            <div class="result-section">
                <div>
                    <h2>Your BMI is: {{ bmi }}</h2>
	    	    <h3>Your Category is: {{ category }}</h3>
                </div>
            </div>


            <!-- Progress Bar -->
            {% if progress_percentage %}
            <div class="bmi-progress">
                <div class="progress-bar" style="width: {{ progress_percentage }}%;">
                    {{ progress_percentage }}%
                </div>
            </div>
            
            {% endif %}
            {% endif %}
        </div>

        <!-- Lower Section -->
        <div class="lower-section">
        
            <!-- BMI Table -->
            <table class="bmi-table">
            	
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>BMI Range</th>
                    </tr>
                </thead>
                
                
          
                <tbody>
                    <tr>
                        <td>Underweight</td>
                        <td>Below 18.5</td>
                    </tr>
                    
                     <tr>
                        <td>Normal weight</td>
                        <td>Between 18.5 to 24.9</td>
                    </tr>
                    
                     <tr>
                        <td>Overweight</td>
                        <td>Between 25 to 29.9</td>
                    </tr>
                    
                     <tr>
                        <td>Obesity</td>
                        <td>30 and above</td>
                    </tr>
            
                </tbody>
                
            </table>

            <!-- Image Gallery -->
            <div class="category-gallery">
	    	<img src="https://i.postimg.cc/1tSwj9jm/underweight.jpg" alt="Underweight">
		<img src="https://i.postimg.cc/d1GnhHz1/normal.jpg" alt="Normal">
		<img src="https://i.postimg.cc/P5ZLsgZP/overweight.jpg" alt="Overweight">
		<img src="https://i.postimg.cc/D08ZCHnf/obesity.jpg" alt="Obesity">

	    </div>
            
        </div>
        
    </div>

	<br>
    <hr>
  

    <footer class="footer">
	    <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
