<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>About</title>

      <!-- Header -->
    <div class="header">
        <div class="logo">GCL BMI Calculator</div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">Resources</a>
            <a href="/diet-ideas">Diet Ideas</a>
            <a href="/calendar">Calendar</a>
            <a href="/faqs">FAQs</a>
            <a href="/contact">Contact/Feedback</a>
        </nav>
    </div>


</head>
<body>
   <br>
    
	
	<h2>GIGA Calculator</h2>
	<ul>
	<li><a href="https://www.gigacalculator.com/calculators/bmi-calculator.php" target="_blank">GIGA Calculator</a></li>
	</ul>
	<br>
	<br>
	
	<h2>Child and Teen BMI Calculator</h2>
	<ul>
	<li><a href="https://www.cdc.gov/bmi/child-teen-calculator/index.html" target="_blank">Child and Teen BMI Calculator</a></li>
	</ul>
	<br>
	<br>
	
	<h2>Calculated Body</h2>
	<ul>
	<li><a href="https://calculatedbody.com/bmi/?height=1.5&weight=120&unit=metric" target="_blank">Calculated Body</a></li>
	</ul>
	<br>
	<br>
	
	<h2>Calculator Net</h2>
	<ul>
	<li><a href="https://www.calculator.net/bmi-calculator.html" target="_blank">Calculator Net</a></li>
	</ul>
    <br>
    <hr>


    <footer class="footer">
            <div>© 2024 ALX SWE. All rights reserved.</div>
    </footer>


</body>
<html>
                    
			
			
